<!-- views/index.ejs -->
<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header', { title: 'Home' }) %>
<main class="main-content index_container">
    <h1>Welcome to the Math Competition App</h1>
    <div class="navigation__container">
        <a href="/leaderboards">View Leaderboards</a>
        <form action="/start" method="POST">
            <button type="submit">Start Quiz</button>
        </form>
    </div>
</main>
<%- include('partials/footer') %>


